        body {
            font-family: sans-serif;
            background-color: #f9fafb;
            margin: 0;
            padding: 0;
            background-color: rgb(224, 224, 224);
        }

        .back-button {
            margin: 1.7vw;
            background-color: #00796b;
            color: white;
            border-radius: 5px;
            padding: 08px 17px;
            font-size: 1em;
            z-index: 1000;
            background-color: #00796b;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .back-button:hover {
            background-color: #004d40;
          }

        .container {
            margin-top: 1.5rem;
            padding: 2rem;
            max-width: 800px;
            margin: auto;
            background: rgba(255, 255, 255, 0.84);
            box-shadow: 0 2px 10px rgba(6, 81, 237, 0.3);
            border-radius: 8px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }

        h1 {
            color: #4a5568;
            font-size: 2rem;
            font-weight: 800;
        }

        p {
            color: #718096;
            margin-top: 1rem;
        }

        .section-title {
            color: #4a5568;
            font-weight: 700;
            margin-top: 2rem;
        }

        .email-list,
        .socials {
            list-style-type: none;
            padding: 0;
        }

        .socials li {
            display: inline-block;
            margin-right: 1rem;
        }

        .input {
            width: 100%;
            padding: 0.625rem 0.5rem;
            border: 1px solid #cbd5e0;
            border-radius: 0.375rem;
            margin-bottom: 1rem;
            outline: none;
        }

        .input:focus {
            border-color: #3b82f6;
        }

        .button {
            width: 100%;
            padding: 0.75rem;
            background-color: #3b82f6;
            color: white;
            border: none;
            border-radius: 0.375rem;
            cursor: pointer;
            transition: background 0.3s;
        }

        .button:hover {
            background-color: #2563eb;
        }

        #results {
            padding: 1rem;
            margin-top: 2rem;
            border-top: 1px solid #e2e8f0;
        }